body {
    display: flex;
    justify-content: center;
}
h1 {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(0, 0, 0, 0.781);
}

input {
    display: flex;
    padding: 10px 80pt;
    border-radius: 12px;
    text-align: center;
}

.container {
    margin-top: 50pt;
    background-color: rgb(255, 255, 255);
    padding: 3%;
    border: 0.5px solid rgba(0, 0, 0, 0.137);
    border-radius: 5pt;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.048);
}

.button-login {
    display: flex;
    justify-content: center;
    margin: 10pt;
}

button {
    padding: 10px 70pt;
    border-radius: 5pt;
    margin-top: 20px;
    background-color: rgba(98, 235, 98, 0.774);
    font-size: 10pt;
    color: whitesmoke;
}

button:hover{
    background-color: black;
    color: whitesmoke;
}